
/*Glocal styling elements*/
body
{
	color: red;
	background-color: #87EEE2;
	text-align: center;
	font-family: Arial Narrow, sans-serif;
}


/*Styling for the LANDING PAGE*/

.tMembers{
	position:relative;
	margin-top:50px;
	background-color: white;
	width:100%;
	margin-bottom: 200px;
	background-color: white;
	border-radius: 15px;
	margin-bottom: 100px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

.purposeContainer{
	position:relative;
	background-color: white;
	width:100%;
	margin-bottom: 200px;
	background-color: white;
	border-radius: 15px;
	margin-bottom: 100px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	margin-bottom: 100px;

}
.myButton:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.myButton:active {
	position:relative;

}

/*Landing page css ending here*/




/*App page css starting here*/

.challengesContainer{
	position:relative;
	background-color: white;
	width:100%;
	margin-bottom: 200px;
	background-color: white;
	border-radius: 15px;
	margin-bottom: 100px;
	font-size:20px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}




